/* ? RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

/* ? CUSTOM CSS */

.head__profile {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 80%;
}

.profile__card {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.profile__card .profile__pic {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.profile__body .profile__body-name {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.profile__body .profile__body-location {
  color: gray;
  margin: 0;
}

.profile__stats {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.status__card {
  background-color: #e5e5e5;
  border-radius: 0.25rem;
  flex: 1 1 auto;
  padding: 1rem;
}

.status__count {
  color: gray;
  font-weight: bold;
}

.status__name {
  color: darkgray;
}

.main__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 3rem auto;
  width: 80%;
}

.picture__container:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.picture__container:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.picture__container:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.footer__container {
  color: darkgray;
  margin: auto;
  text-align: center;
  width: 80%;
}

.footer__container a {
  color: darkgray;
}
